{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}
{{ define "main" }}
<main class="site-content">
{{ .Render "content" }}
{{ template "_internal/disqus.html" . }}
<section class="adj-entries">
{{ with .NextInSection }}
<div class="next-entry">
    <span class="next-label">next</span><a href="{{ .Permalink }}">{{ .Title }}</a>
</div>
{{ end }}
{{ with .PrevInSection }}
<div class="prev-entry">
    <span class="prev-label">previous</span><a href="{{ .Permalink }}">{{ .Title }}</a>
</div>
{{ end }}
</section>


</main>
{{ end }}
