html {
  font-family: "Noto Sans", "Avenir Next", "DejaVu Sans", Tahoma, "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
  font-size: 18px; }

body {
  max-width: 45rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #fdf6e3;
  color: #657b83; }

@media (max-width: 20rem) {
  html {
    font-size: 16px; } }
a:link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #b58900; }

a:hover {
  border-bottom: 1px solid #b58900; }

a:visited {
  color: #b58900; }

code, pre, samp, kbd {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, courier, monospace;
  font-size: 90%; }

hr {
  border: 0 none;
  height: 1px;
  background: #93a1a1; }

/*
 * header and footer
 */
.site-header {
  border-bottom: 1px solid #eee8d5;
  color: #93a1a1; }

.site-footer {
  border-top: 1px solid #eee8d5;
  color: #93a1a1; }

.site-content {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.site-title {
  font-family: "Roboto Condensed", "DejaVu Sans Condensed", "Avenir Next Condensed", "Arial Narrow", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 0;
  color: #93a1a1; }

.site-header a,
.site-footer a {
  color: #93a1a1; }
  .site-header a:hover,
  .site-footer a:hover {
    color: #b58900;
    text-decoration: none;
    background: #eee8d5;
    border-bottom-color: transparent; }

.site-slogan {
  font-weight: normal;
  font-size: 1.4rem;
  font-style: italic;
  display: inline-block; }

.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0; }
.site-nav li {
  display: inline-block;
  margin-right: 1rem; }
.site-nav a {
  padding: 0.2rem; }

@media (max-width: 30rem) {
  .site-nav ul, .site-nav li, .site-nav a {
    display: block; } }
.paginator {
  text-align: center; }
  .paginator a, .paginator span {
    background: #eee8d5;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: #93a1a1; }
  .paginator a:hover {
    text-decoration: none;
    color: #b58900;
    border-bottom-color: transparent; }
  .paginator .disabled {
    opacity: 0.4; }

.more-posts a {
  background: #eee8d5;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #93a1a1; }
.more-posts a:hover {
  text-decoration: none;
  color: #b58900;
  border-bottom-color: transparent; }

/*
 * content
 */
.hentry {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.entry-title-link {
  font-size: 2rem;
  margin-bottom: 1rem; }
  .entry-title-link a {
    color: #586e75; }

.entry-title {
  color: #586e75;
  font-size: 2rem;
  margin-bottom: 1rem; }

.entry-metadata a,
.entry-metadata time {
  display: inline-block;
  white-space: nowrap; }

.entry-content,
ul.posts,
ul.terms {
  line-height: 1.6; }

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  color: #586e75;
  font-weight: bold; }

.entry-content h2 {
  font-size: 1.8rem;
  font-weight: normal; }

.entry-content h3 {
  font-size: 1.5rem; }

.entry-content h4 {
  font-size: 1.3rem; }

.entry-content h5 {
  font-size: 1.1rem; }

.entry-content h6 {
  font-size: 1rem; }

.entry-content pre {
  background: #eee8d5;
  overflow: auto;
  padding: 0.5rem; }

.entry-content pre > code {
  padding-left: 0;
  padding-right: 0;
  background: transparent; }

.entry-content code {
  background: #eee8d5;
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

.entry-content figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 2px solid transparent;
  padding: 2px; }

.entry-content figure img:hover {
  border: 2px solid #eee8d5; }

.entry-content figure figcaption {
  font-size: 0.9rem;
  text-align: center; }

.entry-content figure figcaption > h4 {
  font-weight: normal;
  margin-bottom: 0; }

.entry-content blockquote {
  border-left: 0.4rem solid #b58900;
  background: #e3d5aa;
  padding: 1rem;
  font-style: italic; }

[lang^='zh'] blockquote {
  font-style: normal; }

@media (max-width: 30rem) {
  .entry-content blockquote {
    margin-left: 1rem;
    margin-right: 1rem; } }
.entry-content table {
  width: 100%;
  border-top: 2px solid #93a1a1;
  border-bottom: 2px solid #93a1a1;
  border-collapse: collapse; }

.entry-content thead {
  border-bottom: 1px solid #93a1a1; }

.entry-content td,
.entry-content th {
  padding: 0.5ex;
  text-align: left; }

.entry-content tbody tr:nth-child(odd) {
  background: #eee8d5; }

/*
 * Table of Contents
 */
/* fix table of contents bug */
#TableOfContents > ul > li {
  list-style: none; }

#TableOfContents > ul {
  padding-left: 0; }

#TableOfContents li {
  list-style: square; }

@media (min-width: 30rem) {
  #TableOfContents {
    float: right; } }
.entry-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 0.8rem; }

.entry-date,
.entry-authors,
.entry-categories,
.entry-tags {
  padding: 0.125rem;
  color: #93a1a1;
  margin-right: 1rem; }

.entry-date:hover,
.entry-authors:hover,
.entry-categories:hover,
.entry-tags:hover {
  background: #eee8d5;
  color: #657b83; }

.entry-authors a,
.entry-categories a,
.entry-tags a {
  margin-left: 0.5ex;
  margin-right: 0.5ex; }

.prev-label,
.next-label {
  display: block;
  color: #93a1a1;
  font-variant: small-caps; }

.terms {
  -moz-column-width: 10rem;
  column-width: 10rem; }

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  box-shadow: inherit;
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=style.css.map */
