{{ define "title" }}{{ i18n .Data.Singular }}: {{.Title}} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="site-content">

<h1><a href="{{ .Data.Plural | absLangURL }}">{{ i18n .Data.Singular }}</a>: {{ .Title }}</h1>

{{ with index $.Site.Data "TermDescription" }}
{{ with index . $.Data.Plural }}
{{ with index . $.Title }}
<section class="term-description entry-content">{{ markdownify . }}</section>
{{ end }}
{{ end }}
{{ end }}

<ul class="posts">
{{ range .Data.Pages }}
{{ .Render "li" }}
{{ end }}
</ul>


</main>
{{ end }}
