{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="site-content">

<h1>{{ .Title }}</h1>
<ul class="{{ .Data.Plural }} terms">
    {{ $taxonomy := .Data.Plural }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ $url := (absLangURL (printf "%s/%s" $taxonomy $value.Term)) }}
    <li><a href="{{ $url }}">{{ with  $.Site.GetPage "taxonomy" $taxonomy $value.Term }}{{ .Title }}{{ end }}</a> <span class="count">({{ $value.Count }})</span>
    
    </li>
    {{ end }}
</ul>

</main>
{{ end }}
