// normal text
$normColor: #555753;

// emphasized text
$emphColor: #2e3436;

// unimportant text
$muteColor: #888a85;

// highlighted background
$liteColor: #babdb6;

// background
$backColor: #eeeeec;

// accent
$accentColor: #3465a4;
