$baseFontFamily: "Avenir Next", "DejaVu Sans", Tahoma, "Source Han Sans SC", "Microsoft YaHei", sans-serif;
$codeFontFamily: Menlo, "DejaVu Sans Mono", Consolas, courier, monospace;

$baseFontSize: 18px;
$codeFontSize: 90%;
$smallFontSize: 16px;

$headerFontFamily: "Roboto Condensed", "DejaVu Sans Condensed", "Avenir Next Condensed", "Arial Narrow", sans-serif;

//@import "tango";
@import "solarized";

html {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
}

body {
    max-width: 45rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: $backColor;
    color: $normColor;
}

@media (max-width: 20rem) {
    html {
        font-size: $smallFontSize;
    }
}

a:link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: $accentColor;
}
a:hover {
    border-bottom: 1px solid $accentColor;
}
a:visited {
    color: $accentColor;
}

code, pre, samp, kbd {
    font-family: $codeFontFamily;
    font-size: $codeFontSize;
}

hr {
    border: 0 none;
    height: 1px;
    background: $muteColor;
}

/*
 * header and footer
 */

.site-header {
    border-bottom: 1px solid $liteColor;
    color: $muteColor;
}

.site-footer {
    border-top: 1px solid $liteColor;
    color: $muteColor;
}

.site-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-title {
    font-family: $headerFontFamily;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0;
    color: $muteColor;
}

.site-header a,
.site-footer a {
    color: $muteColor;
    
    &:hover {
        color: $accentColor;
        text-decoration: none;
        background: $liteColor;
        border-bottom-color: transparent;
    }
}


.site-slogan {
    font-weight: normal;
    font-size: 1.4rem;
    font-style: italic;
    display: inline-block;
}

.site-nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-right: 1rem;
    }
    a {
        padding: 0.2rem;
    }
}

@media (max-width: 30rem) {
    .site-nav {
        ul, li, a {
            display: block;
        }
    }
}

.paginator {
    text-align: center;
    a, span {
        background: $liteColor;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.5rem;
        color: $muteColor;
    }
    a:hover {
        text-decoration: none;
        color: $accentColor;
        border-bottom-color: transparent;
    }
    .disabled {
        opacity: 0.4;
    }
}

.more-posts {
    a {
        background: $liteColor;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.5rem;
        color: $muteColor;
    }
    a:hover {
        text-decoration: none;
        color: $accentColor;
        border-bottom-color: transparent;
    }
}

/*
 * content
 */
.hentry {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.entry-title-link {
    a {
        color: $emphColor;
    }
    font-size: 2rem;
    margin-bottom: 1rem;
}

.entry-title {
    color: $emphColor;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.entry-metadata a,
.entry-metadata time {
    display: inline-block;
    white-space: nowrap;
}

.entry-content,
ul.posts,
ul.terms{
    line-height: 1.6;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    color: $emphColor;
    font-weight: bold;
}
.entry-content h2 {
    font-size: 1.8rem;
    font-weight: normal;
}
.entry-content h3 {
    font-size: 1.5rem;
}
.entry-content h4 {
    font-size: 1.3rem;
}
.entry-content h5 {
    font-size: 1.1rem;
}
.entry-content h6 {
    font-size: 1rem;
}


.entry-content pre {
    background: $liteColor;
    overflow: auto;
    padding: 0.5rem;
}
.entry-content pre > code {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}
.entry-content code {
    background: $liteColor;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.entry-content figure img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 2px solid transparent;
    padding: 2px;
}
.entry-content figure img:hover  {
    border: 2px solid $liteColor;
}
.entry-content figure figcaption {
    font-size: 0.9rem;
    text-align: center;
}
.entry-content figure figcaption > h4 {
    font-weight: normal;
    margin-bottom: 0;
}

.entry-content blockquote {
    border-left: 0.4rem solid $accentColor;
    background: mix($accentColor, $liteColor, 20%);
    padding: 1rem;
    font-style: italic;
}

[lang^='zh'] blockquote {
    font-style: normal;
}

@media (max-width: 30rem) {
    .entry-content blockquote {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.entry-content table {
    width: 100%;
    border-top: 2px solid $muteColor;
    border-bottom: 2px solid $muteColor;
    border-collapse: collapse;
}
.entry-content thead {
    border-bottom: 1px solid $muteColor;
}
.entry-content td,
.entry-content th {
    padding: 0.5ex;
    text-align: left;
}

.entry-content tbody tr:nth-child(odd) {
    background: $liteColor;
}

/*
 * Table of Contents
 */

/* fix table of contents bug */
#TableOfContents > ul >li {
    list-style: none;
}
#TableOfContents > ul {
    padding-left: 0;
}

#TableOfContents li {
    list-style: square;
}

@media (min-width : 30rem) {
    #TableOfContents {
        float: right;
    }
}

.entry-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    //justify-content: space-around;
    font-size: 0.8rem;
}

.entry-date,
.entry-authors,
.entry-categories,
.entry-tags {
    padding: 0.125rem;
    color: $muteColor;
    margin-right: 1rem;
}

.entry-date:hover,
.entry-authors:hover,
.entry-categories:hover,
.entry-tags:hover {
    background: $liteColor;
    color: $normColor;
}

.entry-authors a,
.entry-categories a,
.entry-tags a {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

.prev-label,
.next-label {
    display: block;
    color: $muteColor;
    font-variant: small-caps;
}

.terms {
    -moz-column-width: 10rem;
    column-width: 10rem;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    box-shadow: inherit;
    padding-left: 0;
    padding-right: 0;
}
