        <footer class="site-footer">
            <p class="copyright">
            ©
            {{ if eq .Site.Params.StartYear .Now.Year }}
            {{ .Now.Year }}
            {{ else }}
            {{ .Site.Params.StartYear }}–{{ .Now.Year }}
            {{ end }}
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </p>
        </footer>
        {{ if eq .Site.Params.UseMath true }}
        <script src="{{ $.Site.BaseURL }}js/mimetex.js"></script>
        {{ end }}
    </body>
</html>
