{{ partial "head.html" . }}
<main class="site-content">
<article class="hentry">
	<header>
		<h1 class="entry-title">404 Page not found</h1>
	</header>
	
	<div class="entry-content">
        <h2>What happened?</h2>
		<p>From <a href="https://tools.ietf.org/html/rfc2616#section-10.4.5">RFC 2616 Hypertext Transfer Protocol – HTTP/1.1</a>:</p>
		
        <p>The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent. The 410 (Gone) status code SHOULD be used if the server knows, through some internally configurable mechanism, that an old resource is permanently unavailable and has no forwarding address. This status code is commonly used when the server does not wish to reveal exactly why the request has been refused, or when no other response is applicable.</p>
	</div>
</article>
</main>
{{ partial "footer.html" . }}
