{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main class="site-content">
<div class="posts">
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}
</div>
{{ if gt $paginator.TotalPages 1 }}
<div class="paginator">
    {{ with $paginator.First }}
    <a class="first-page" href="{{ .URL }}">&laquo;</a>
    {{ end }}
    {{ with $paginator.Prev }}
    <a class="prev-page" href="{{ .URL }}">&lt;</a>
    {{ else }}
    <span class="prev-page disabled">&lt;</span>
    {{ end }}
    <span class="current-page">{{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</span>
    {{ with $paginator.Next }}
    <a class="next-page" href="{{ .URL }}">&gt;</a>
    {{ else }}
    <span class="next-page disabled">&gt;</span>
    {{ end }}
    {{ with $paginator.Last }}
    <a class="last-page" href="{{ .URL }}">&raquo;</a>
    {{ end }}
</div>
{{ end }}
</main>
{{ partial "footer.html" . }}
